<div class="jumbotron">
  <h1>Projects</h1>
</div>
<ul>
  <% @projects.each do |project| %>
    <li>Title: <%= link_to project.title, project_path(project) %></li>
    <p>Description: <%= project.description %></p>
    <p>URL: <%= project.url %></p>
  <% end %>
</ul>

<hr>
